@media (max-width: 420px)
  section.welcome
    .icons
      margin: 0 !important

  section.popular_service
    .content
      width: 95%

@media (max-width: 1000px)
  section.why_us
    background-image: none !important
    .content
      width: 100% !important
      height: min-content !important
      position: relative !important