@import "media"

.strong
  font-weight: bold

.nav.ib
  a
    color: #4b4b4b

section.welcome
  background-image: url(../../images/morda/bg/welcome.jpg)
  height: 82vh
  background-position: bottom
  background-repeat: no-repeat
  background-size: cover
  display: flex
  align-items: center
  .icons
    display: flex
    justify-content: space-around
    margin: 80px 0
    flex-wrap: wrap
    .icon
      width: 150px
      display: flex
      flex-wrap: nowrap
      flex-direction: column
      align-items: center
      img
        width: 100px
        height: 100px
      span
        color: #fff


section.popular_service
  min-height: 100vh
  .content
    a
      font-size: large
      color: #3dc4bb
    margin: auto
    position: relative
    background-color: white
    top: -50px
    text-align: center
    .services_wrap
      margin-top: 20px
      display: flex
      justify-content: space-evenly
      flex-wrap: wrap
      .service_block
        h4
          font-weight: 600
          margin-top: 20px
        width: 330px
        height: 270px
        margin: 20px 0px
        position: relative
        background-size: cover
        &:nth-child(1)
          background-image: url(../../images/morda/bg/forniture.jpg)
        &:nth-child(2)
          background-image: url(../../images/morda/bg/aportamet.jpg)
        &:nth-child(3)
          background-image: url(../../images/morda/bg/office.jpg)
        &:nth-child(4)
          background-image: url(../../images/morda/bg/kover.jpg)
        &:nth-child(5)
          background-image: url(../../images/morda/bg/afterfix.jpg)
        &:nth-child(6)
          background-image: url(../../images/morda/bg/window.jpg)
        a
          display: inline-block
          width: 150px
          height: 40px
          line-height: 40px
          position: relative
          bottom: -150px
        a.order
          background-color: #3dc4bb
          color: white !important
        a.more_info
          background-color: #fff
    .description
      margin-top: 20px
      text-align: left


section.why_us
  min-height: 100vh
  background-image: url(../../images/morda/bg/whyus.webp)
  background-repeat: no-repeat
  background-size: 60% 100%
  position: relative
  h2.right
    position: absolute
    right: 50px
    top: 10px

  .content
    position: absolute
    bottom: 0
    right: 0
    width: 55%
    height: 86%
    text-align: center
    background-image: url(../../images/morda/bg/bg_g.jpg)
    background-position: bottom
    background-size: cover
    background-repeat: no-repeat
    h2
      color: white
      font-weight: 600
  .why_us__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    margin-top: 20px
    &__block
      text-align: center
      padding-top: 70px
      width: 300px !important
      height: 300px !important
      margin: 20px
      p
        margin-top: 10px
        color: white
        font-size: 1.4em
    .white
      padding-top: 50px
      background-color: white
      box-shadow: 0 0 40px #05878c
      p
        width: 300px
        color: #4b4b4b
        padding: 0 10px

section.calculator
  text-align: center
  min-height: 100vh
  background-image: url(../../images/morda/bg/bg_calc.webp)
  background-position: bottom
  background-size: cover
  background-repeat: no-repeat
  padding-top: 20px
  h2
    font-weight: 600
    color: white

section.how_works
  padding-top: 20px
  text-align: center
  .how_works
    position: relative
    margin-top: 20px
    div
      text-align: left
    .content
      background-color: #3dc4bb
      height: 400px
      position: relative
      overflow: hidden
      .slide
        position: absolute
        display: none
        padding: 0 10px
      .active
        display: block !important
      p, h4, h5
        color: white

    #how_work_carousel
      .item
        img
          width: 555px

.promotion-fon
  background: url("../img/pattern.png") #66c5bf
  padding: 14px 0


.mint-fon
  background: #66c5bf
  color: #ffffff
  padding: 15px 0
  p, a
    color: #ffffff
    text-decoration: none
    margin: 0

.promotion-text
  font-size: 21px
  line-height: 28px
  margin-top: 28px
  span
    font-size: 35px
    font-weight: bold
    padding-bottom: 4px

.white-section
  padding-top: 42px
  padding-bottom: 56px

section.reviews
  h2
    text-align: center

section.quality h2
  text-align: center
  margin: 40px 0


section.quality
  background: #f5f5f5 url(/assets/app-new/img/quality.jpg) no-repeat 100% 0/cover
  padding-bottom: 240px


.quality .container > p
  max-width: 580px
  margin-bottom: 60px


.quality .container > span
  font-size: 24px
  display: block
  margin-bottom: 45px


.quality .item
  width: 260px
  float: left
  margin-bottom: 60px


.quality .item span
  display: inline-block
  font-size: 50px
  font-weight: bold
  color: #e3e3e2
  margin-bottom: 25px
  position: relative


.quality .item span::before
  position: absolute
  top: 0
  left: 30px
  font-size: 24px
  font-weight: initial
  color: initial
  white-space: nowrap


.quality .item:first-of-type span::before
  content: 'Условие №1'


.quality .item:nth-of-type(2) span::before
  content: 'Условие №2'


.quality .item p
  color: #828282


.quality .button
  clear: both
  margin-left: 0


