.call_me {display:none;position: fixed;z-index: 99999;width: 100vw;text-align: center;}
.call_me a {display: inline-block;text-decoration: none;width: 240px;background-color: #66c5bf;padding: 10px;color: white;font-weight:500;font-size: 1.3em;}
.call_me a:hover {color:#fff;}
p.main_desc{width: 650px;}

@media screen and (max-width:1200px){.slide-img{margin:0 auto;}
    #header{height:369px;}
    p.main_desc{width: 550px;}
}
@media (max-width:1200px){.pr_dib{padding-right:4px;display:inline-block;padding-top:30px;}}
@media(max-width:768px){.regions{background:#e1f4f4;}
    .regions ul{width:49%;}
    .regions ul li{font-size:12px;}
}
@media(max-width:480px){.regions .title{font-size:19px;}
    .regions ul li{font-size:14px;}
    .regions ul{width:100%;float:none;margin-bottom:0;}
}
@media(max-width:479px){.for_pad{width:100%!important;}
}

@media(max-width:768px){#modal_form{display:none!important;}
    .modal_head, .modal_head1{display:none!important;}
}
@media(max-width:991px){.network-section-open-blog{flex-direction:column;}
    .network-section-open-blog p{text-align:center;}
    .network-section-open-blog > div{margin-top:10px;}
}
@media screen and (max-width:992px){.clear-left{clear:left;}
    .promotion-fon{text-align:center;}
    #header{height:283px;}
    .slide-img{height:283px;width:auto;}
    .sidebar.left{margin-top:60px;}
    .navbar-nav > li > a{padding-left:5px;padding-right:5px}
    .slider.hide_pic{margin-bottom:0;}
}
@media(max-width:1024px){.block_item p{font-size:15px;}
}
@media screen and (max-width:768px){.calc-rez p{line-height:6px;}
    .calculator:not(section) label:after{display:none;}
    #element1 .navbar-toggle{float:none;}
    .reason-section{padding:0;}
    .image-wrapper{clear:left;}
    #element1 .nav{float:none;margin:49px 0 0;width:100%;}
    .clear-left{clear:left;margin-bottom:10px;}
    .promotion-fon{text-align:center;}
    #header{height:100px;}
    .slider.hide_pic{margin-bottom:50px;}
    #element1{padding:0;}
    .slide-img{height:43px;width:auto;}
    .nav.navbar-nav{}
    #header.slider.hide_pic{height:50px !important;}
    .content{padding-right:15px;padding-left:15px;}
    h1{font-size:20px;line-height:30px;}
    h2{font-size:18px;line-height:26px;font-weight:bold;}
    h3{font-size:16px;line-height:24px;font-weight:bold;}
}
@media (min-width:992px) and (max-width:1199px){.left_side_img span{margin:25px 0 -10px 18px;}
}
@media (min-width:320px) and (max-width:769px){.left_side_img, .triangle_left{display:none;}
    .right_side_button{float:none;width:90%;margin:0 auto;}
}
@media screen and (max-width:768px){.sidebar-left.col-xs-12.col-sm-4.col-md-4.padding-section h2{display:none;}
}
@media (max-width:480px){.new-footer .contact{display:none;}
}
@media screen and (max-width:480px){.calculator input[type=number]{min-width:100%;}
    .calculator label{min-width:100%;}
    .reason-section img{height:100%;width:100%;}
    .grey-fon img{height:100%;width:100%;}
    .reason-section{padding:0;}
    .image-wrapper{clear:left;}
    .clear-left{clear:left;margin-bottom:10px;}
    .promotion-fon{text-align:center;}
    #header{height:70px;}
    #header.slider.hide_pic{height:20px !important;}
}
body, button, input, select, textarea, p{color:#4b4b4b;font-size:14px;font-family:verdana, sans-serif;line-height:21px;}
button, input[type=submit], input[type=reset], input[type=button]{cursor:pointer;}
textarea:focus, input:focus, select:focus, button:focus, button:active, a{outline:none;}
li{line-height:21px;margin-bottom:10px;}
.header{padding:14px 0 14px 0;}
#footer{margin-top:30px;}
.e-mail{margin-top:10px;}
.image-wrapper{border:4px solid #e4e4e4;padding:0;}
.grey-fon{background-color:#f5f5f5;border:solid 1px #fff;padding:42px 0 56px 0;}
.mint-fon{background:#66c5bf;color:#ffffff;padding:15px 0;}
.mint-fon p, .mint-fon a{color:#ffffff;text-decoration:none;margin:0;}
.promotion-text{font-size:21px;line-height:28px;margin-top:28px;}
.promotion-text span{font-size:35px;font-weight:bold;padding-bottom:4px;}
.white-section{padding-top:42px;padding-bottom:56px;}
.right{float:right;}
.order p{font-size:16px;line-height:23px;}
.order .btn-link{display:block;margin:0 auto;width:50%;line-height:30px;padding:5px;}
.btn, .btn-link, .btl-link:active{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:#fff;border:solid 1px #66c5bf;text-decoration:none;color:#4b4b4b;font-size:16px;text-align:center;line-height:20px;margin-top:18px;padding:10px;max-width:150px;}
.btn:hover, .btn:active, .btn-focus, .btn-link:hover, .btn-link:focus{background-color:#66c5bf;color:#ffffff;text-decoration:none;border:solid 1px #66c5bf;}
.promotion-fon .btn-link{padding:20px;margin-top:40px;}
select, .jot-input-text, .form-control, .calculator input[type=number]{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#fff;-webkit-box-shadow:inset 0 0 7px rgba(119,119,119,.12);-moz-box-shadow:inset 0 0 7px rgba(119,119,119,.12);box-shadow:inset 0 0 7px rgba(119,119,119,.12);border:solid 1px rgba(119,119,119,.3);padding:7px;line-height:20px;}
label{line-height:35px;}
#alkr_cmsbundle_review .btn{float:right;}
.jot-input-text{min-width:340px;}
.navbar{margin-bottom:0;}
.navbar-nav a{text-decoration:none;}
.navbar-nav li{border:solid 1px transparent;}
.navbar-nav li:hover{-webkit-border-radius:5px/4px;-moz-border-radius:5px/4px;border-radius:5px/4px;border:solid 1px #5ec3bb;padding:0;background:none;}
.clear{padding:0;}
.slider{height:447px;position:relative;}
#element1{width:100%;padding:25px 0;background-color:#fff;}
#element1 .nav{float:right;}
.slide-img{margin:0 auto;height:100%;width:100%;}
.back{background: #66c5bf;position:relative;}
.slider.hide_pic{height:111px;-webkit-box-shadow:0 0 5px rgba(75,76,76,.2);-moz-box-shadow:0 0 5px rgba(75,76,76,.2);box-shadow:0 0 5px rgba(75,76,76,.2);margin-bottom:50px;}
.sidebar a{text-decoration:none;font-size:18px;color:#4b4b4b;}
.sidebar a:hover{color:#4b4b4b;}
.sidebar .btn-link{font-size:14px;}
.sidebar .btn-link:hover{color:#ffffff;}
.vk{margin:40px 0;}
.breadcrumb{color:#64c3bd;padding:14px;line-height:28px;}
.breadcrumb li{margin:0px;}
.page_annotation{background:#f5f5f5;padding:7px 14px 7px 14px;margin-bottom:14px;background:#f5f5f5;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.img-responsive{height:auto !important;}
#element1 .navbar-default{background:none;border:none;}
#element1 .nav > li > a{padding:10px 10px;}
#element1 .navbar-toggle{width:100%;background-color: #ddd;}
#element1 .navbar-toggle .icon-bar{float:right;clear:right;}
#element1 .navbar-collapse{max-height:none;}
#element1 .navbar-collapse{padding:0;border:none;}
#header.slider.hide_pic{height:85px;-webkit-box-shadow:0 0 6px 1px rgba(75,76,76,.5);-moz-box-shadow:0 0 6px 1px rgba(75,76,76,.5);box-shadow:0 0 6px 1px rgba(75,76,76,.5);}
.blockquote p{font-size:14px;line-height:21px;}
.res_calc{margin-top:18px;}
.white_block_cost{font-weight:bold;}
.calc{padding-top:7px;}
.margin-clear{margin:0;}
.kol{margin-top:40px;}
.name span{padding-right:10px;}
.name{font-size:21px;color:#66c5bf;}
.review img{padding-left:0;padding-right:0;width:42px;}
.review .row{margin-left:0;margin-right:0;}
.review{margin-bottom:40px;padding-left:10px;border-left:solid 2px rgba(102, 197, 191, 0.44);}
.date{font-size:14px;color:#adadad;margin-top:5px;}
.date span img{width:16px;margin-right:4px;}
.text{margin-top:10px;padding-bottom:10px;}
.answer{padding:10px 10px 10px 20px;background-color:rgba(102, 197, 191, 0.09);margin-bottom:20px;border-left:solid 2px rgba(102, 197, 191, 0.3);margin-left:20px;}
.reviews{width:720px;max-width:90.625%;padding-top:80px;padding-bottom:70px;margin-right:auto;margin-left:auto;}
.reviews h2{margin-bottom:65px;}
.reviews .item{padding-top:25px;padding-bottom:30px;border-bottom:1px solid #f5f5f5;}
.reviews .item:last-of-type{margin-bottom:30px;}
.reviews .item > div{width:calc(100% - 108px);float:left;}
.reviews .item img{width:73px;height:73px;border-radius:50%;float:left;margin-right:35px;}
.reviews .item .name{display:inline-block;font-size:20px;color:inherit;margin-bottom:15px;}
a.button{display:block;font-size:16px;text-align:center;margin-right:auto;margin-left:auto;line-height:32px;text-decoration:none;width:226px;}
#alkr_cmsbundle_review{padding-top:20px;}
.menu_level_2 a{font-size:12px;background:transparent;}
.menu_level_2 li{padding-left:25px;margin-bottom:0;border-top:none !important;border-bottom:solid 1px #f4f5f5;}
.menu_level_2 li:last-child{border-bottom:none;}
.menu_level_2 li a:hover, .menu_level_2 li span:hover{background:transparent !important;border:none !important;color:#64c3bd !important;}
.menu_level_2 li span{color:#64c3bd;}
table{border:solid 1px rgba(119,119,119,.3);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:7px;}
tr:nth-child(2n+1){background:#f5f5f5;}
.calculator:not(section){background:#fff;overflow:hidden;margin-top:30px;margin-bottom:20px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;border:solid 1px rgba(119,119,119,.3);}
.calculator:not(section) label{font-weight:normal;background:#f5f5f5;position:relative;padding:7px;}
.calculator:not(section) label:after{content:" ";position:absolute;width:0;height:0;border-style:solid;border-width:25px 0 25px 25px;border-color:transparent transparent transparent #f5f5f5;top:0;right:-25px;}
.calculator:not(section) input[type=number]{max-width:140px;}
.margin-calc{margin-top:15px;margin-bottom:15px;}
.calc-rez span{font-weight:900;font-size:18px;color:#66c5bf;}
.calc-rez p{line-height:45px;margin-bottom:0;}
.module-title{text-transform:uppercase;color:#4b4b4b;font-size:16px;padding:10px 0;display:block;}
#info-flat{border-top:solid 1px #fff;}
div#all-digital{padding:30px 0;}
p.cifra{font-size:30px;}
.choise{border-top:solid 1px #fff;}
.form-side input, .form-side textarea{margin:0px 0;}
.form-r .form-group{width:100%;}
.form-r{padding:30px 7px !important;}
.form-r button{margin-top:0px;padding:10px;width:100%;max-width:270px;}
.block_images{text-align:center;}
.block_images img{width:30% !important;padding:15px;float:none !important;margin:0 auto !important;height:inherit !important;display:inline-block;}
.our-clients p.module-title, .group-wrap div.module-title{background:#65C6BF;padding-left:7px;text-align:left;color:#fff;}
.group-wrap p.module-title{min-height:20px;}
.our-clients p span.controls-wrapper{float:right;padding-right:10px;}
.our-clients-wrap{margin-top:70px;}
.group-wrap{margin-top:20px}
.our-clients .item img{display:block;margin:auto;padding-top:20px;padding-bottom:20px;}
.left-sl, .right-sl{cursor:pointer;}
.left-sl{margin-right:15px;}
.group-wrap .txt{text-align:center;margin-left:15px;margin-right:15px;}
.group-wrap .txt button{display:block;margin:0 auto;max-width:270px;width:100%;}
.group-wrap div.module-title{position:relative;height:40px;}
.group-wrap .txt2{margin-top:40px;text-align:center;margin-bottom:10px;font-size:1.2em;}
.faq .answer{display:none;margin-bottom:40px;}
.telephone, .e-mail{margin-top:10px !important;}
.new_link{width:100%;margin-bottom:12px;height:250px;}
.new_link > p{padding-left:14px;font-size:25px;}
.wrapper_block{height:auto;width:100%;}
.block_item{width:28.333%;height:200px;background:#f5f5f5;float:left;margin:15px 15px;text-align:center;padding:25px 0 0 0;}
.block_item p{margin:19px;font-size:17px;}
.block_item a{text-decoration:none;}
.modal_head, .modal_head1{width:330px;height:50px;background-color:#009FBD;position:fixed;right:0;bottom:0px;border-top-left-radius:5px;border-top-right-radius:5px;cursor:pointer;}
.modal_head span{color:white;font-size:20px;margin-top:-7px;display:block;float:left;margin-left:10px;font-family:georgia, serif;}
.modal_head1 span{color:white;font-size:20px;margin-top:-7px;display:block;float:left;margin-left:10px;font-family:georgia, serif;}
@keyframes tramor-before{95%{top:-37%;}
    95%{top:-10%;}
    97%{top:-37%;}
    100%{top:-8%;}
}
.modal_head:before,.modal_head1:before{content:" ";background:#009FBD;width:330px;position:relative;height:20px;top:-10%;display:block;border-top-left-radius:5px;border-top-right-radius:5px;animation:tramor-before 3s infinite cubic-bezier(0.47, 0, 0.75, 0.72);}
.modal_head1:before{animation:inherit;}
.modal_head #modal_close{width:20px;height:20px;position:absolute;top:18px;right:7px;cursor:pointer;display:block;font-size:30px!important;color:white;z-index:10000;}
.modal_head1 #modal_close{width:20px;height:20px;position:absolute;top:18px;right:7px;cursor:pointer;display:block;font-size:30px!important;color:white;z-index:10000;}
.text_for_akcia{width:280px;margin:28% auto;text-align:center;font-size:14.8px;}
.bold_akci{font-size:16px;font-weight:600;margin-bottom:12px;display:block;}
.simple_text{font-size:14px;display:block;}
.article-minimized-blog h2{padding-top:20px;}
.article-minimized-blog div.title{padding-top:20px;font-size:28px;line-height:35px;padding-bottom:7px;margin:0;}
.article-minimized-blog div.title a{text-decoration:none;}
.article-minimized-blog-text{padding-top:20px;color:#808080;font-size:14px;line-height:21px;}
.article-open-blog-text img{}
.article-open-blog-text p{color:#808080;font-size:14px;line-height:21px;}
.item-something-open-blog{margin:15px auto;background-color:#f5f5f5;}
.item-something-open-blog img{margin:0 auto;display:block;padding-top:26px;}
.item-something-open-blog p{text-align:center;padding:26px 0;}
.item-something-open-blog p a{text-decoration:none;}
.item-something-open-blog p a:hover{text-decoration:underline;}
.network-section-open-blog{display:block;width:100%;background-color:#dff5f3;padding:26px;}
.network-section-open-blog p{font-size:18px;line-height:26px;padding-bottom:10px;}
.article-minimized-blog-btn{display:inline-block;padding:10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:2px solid #00c6bc;color:#00c6bc;text-decoration:none;-webkit-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-moz-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-o-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-webkit-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);-moz-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);-o-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);}
.article-minimized-blog-btn:hover{text-decoration:none;background:#00c6bc;color:#fff;-webkit-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-moz-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-o-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-webkit-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);-moz-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);-o-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);}
.article-minimized-blog-img{margin-bottom:15px;}
.article-minimized-blog-date, .article-minimized-blog-name, .article-minimized-blog-cat{padding-right:18px;}
.article-minimized-blog-img, .article-open-blog-img{width:100%;}
.article-open-blog-img{padding:30px 0;}
.article-open-blog h1{padding:16px 0;}
.article-open-blog-avva{display:block;}
.article-minimized-blog-cat{color:#3dc4bb;}
.article-minimized-blog .article-minimized-blog-miniIcon{padding-left:12px;padding-right:20px;}
.article-minimized-blog-link, .article-minimized-blog-link:hover{text-decoration:none;}
.article-minimized-blog-link:hover span{text-decoration:none;color:#2c7f86;}
.article-minimized-blog-wrapper .article-minimized-blog:last-child hr{display:none;}
.article-minimized-blog-wrapper .article-minimized-blog:last-child{margin-bottom:40px;}
.show_all_articles{display:block;width:100%;padding:20px 0;background-color:#d6f5f3;color:#444;text-align:center;margin-top:50px;margin-bottom:70px;font-size:21px;line-height:26px;text-decoration:none;-webkit-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-moz-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-o-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-webkit-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);-moz-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);-o-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);}
.show_all_articles:hover{color:#444;text-decoration:none;background:#00c6bc;-webkit-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-moz-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-o-transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);transition:all 1000ms cubic-bezier(0.475, 0.790, 0.195, 0.950);-webkit-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);-moz-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);-o-transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);transition-timing-function:cubic-bezier(0.475, 0.790, 0.195, 0.950);}
.pr_dib{padding-right:4px;display:inline-block;}
form.likedislike{display:inline;}
.likedislike button[name=likedislike_vote]{background:none;border:none;padding:0;margin:0;}
.likedislike.buttons.user_voted.disabled button{display:inline;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color:#66C5BF;border-color:#66C5BF;}
.pagination>li>a, .pagination>li>span{color:#1BCCC3;padding:8px 14px;}
.content-inner-reiew{margin:0 auto;}
.item-video{overflow:hidden;padding-bottom:56.25%;position:relative;height:0;}
.item-video iframe{left:0;top:0;height:100%;width:100%;position:absolute;}
ul.review-tabs{width:100%;}
ul.review-tabs li{width:50%;}
.review-tabs.nav-tabs>li.active>a, .review-tabs.nav-tabs>li.active>a:focus, .review-tabs.nav-tabs>li.active>a:hover{border:none;background-color:#F5F5F5;border-radius:0;color:#4b4b4b;}
.review-tabs.nav-tabs>li>a{border:none;background-color:#66C5BF;color:#fff;border-radius:0;text-decoration:none;text-align:center;margin-right:0;}
.blank-carousel img{height:300px;}
.review-tab-content{background-color:#F5F5F5;padding:20px 15px 0 15px;}
.video-carousel .owl-controls, .blank-carousel .owl-controls{margin-top:10px;}
.tab-content > .tab-pane{display:block;visibility:hidden;height:0px;overflow:hidden;}
.tab-content > .active{display:block;visibility:visible;height:auto;overflow:visible;}
.video-carousel .owl-controls, .blank-carousel .owl-controls{margin-top:10px;text-align:center;-webkit-tap-highlight-color:transparent;}
.video-carousel .owl-controls .owl-nav [class*=owl-], .blank-carousel .owl-controls .owl-nav [class*=owl-]{color:#CBD1D0;margin:5px;padding:4px 24px;display:inline-block;cursor:pointer;font-size:30px;font-family:Courier, "Courier New", monospace;line-height:30px;}
#info-video, #info-blank{color:#CBD1D0;font-size:20px;position:relative;top:-32px;width:100%;text-align:center;}
#info-video span.current, #info-blank span.current{color:#66C5BF;}
.vk-rewiews-wrap{margin-top:25px;}
.vk-rewiews-wrap p{padding:0;overflow:hidden;word-wrap:break-word;line-height:1.54em;font-size:11px;}
.vk-review-item{clear:both;border-bottom:1px solid #F5F5F5;display:table;margin-bottom:10px;width:100%;}
.vk-review-item .img-wrap{width:10%;float:left;}
.vk-review-item .text-wrap{width:88%;float:left;}
.vk-review-item .link-wrap a{font-weight:bold;color:#45688E;line-height:1.27em;font-size:11px;text-decoration:none;}
.vk-review-item .date a{color:#999;text-decoration:none;cursor:pointer;}
.vk-review-item .date a:hover{text-decoration:underline;}
.vk-review-item .text-wrap img{width:100%}
@media (max-width:600px){.vk-review-item .img-wrap{width:18%;}
    .vk-review-item .text-wrap{width:78%;}
    .vk-rewiews-wrap p{font-size:13px;}
}
.name-staff{text-align:center;padding-bottom:15px;}
.staff-title{padding-bottom:25px;}
.staff-wrap{background-color:#F5F5F5;border-radius:6px;padding:30px;margin-bottom:40px;}
.info{cursor:pointer;}
.flex{display:flex;}
.flex .flex_img{display:flex;align-items:center;justify-content:center;}
.network-section-open-blog{display:flex;align-items:center;justify-content:space-between;}
.network-section-open-blog p{margin:0;padding:0;}
.down-block .down-title.text-left{text-align:left;margin-bottom:25px;}
.footer_services li{list-style-type:none;list-style-image:none;margin-bottom:3px;font-size:16px;}
.footer_services li a{color:#fff;text-decoration:none;}
.down-block .new-footer a:hover{color:#66c5bf;}
.footer_services{padding-left:0;}
.down-block .new-footer p:not(.down-title), .down-block .new-footer a{transition:all .2s ease-in;font-size:16px;color:#fff;text-decoration:none;}
.down-block .down-bold{font-weight:bold;margin-bottom:0;}
#footer, #footer .navbar{margin-top:0 !important;}
.down-slider.our_clients{clear:both;margin:45px 0px;}
.down-slider.our_clients .down-title{padding-left:14px;font-size:25px;}
.right_side_button{float:right;width:43%;height:100%;text-align:center;padding-top:25px;}
.vk_button_banner{width:70%!important;height:60px;margin-top:25px;font-size:16px;}
.wrap_text_but{width:80%;margin:0 auto;}
.text_button_otziv{line-height:35px;display:inline-block;text-align:center;}
.text_prev_button{margin:0;font-size:18px;font-weight:600;}
.left_side_img{width:50%;height:100%;background-color:#66c5bf;float:left;}
.left_side_img img{margin-top:25px;}
.left_side_img span{color:white;font-size:25px;display:block;margin:25px 0 -10px 50px;}
.triangle_left{float:left;width:0;height:0;border-top:200px solid #66c5bf;border-right:20px solid transparent;}
.regions ul{width:32%;float:left;padding-left:35px;}
.regions img.map{width:340px;height:318px;}
.regions .title{font-family:Georgia;color:#4b4b4b;font-size:20px;font-weight:700;line-height:28px;text-align:left;padding:22px 0 5px 18px;}
.for_border li{margin:0;border-bottom:1px solid #dbdbdb;font-family:Verdana;color:#4b4b4b;font-size:14px;font-weight:400;line-height:21px;text-align:left;}
.for_border_1 li{margin-top:20px;margin-bottom:15px;border-bottom:0;font-family:Verdana;color:#4b4b4b;font-size:14px;font-weight:400;line-height:21px;text-align:left;}
.title_of{font-family:Georgia;color:#4b4b4b;font-size:18px;font-weight:400;line-height:48px;text-align:left;margin-left:15px;}
#info-blank.img_carous, #info-video.img_carous{color:#CBD1D0;font-size:20px;position:relative;top:-34px;width:100%;text-align:center;}
.video-carousel.image_carousel .owl-controls .owl-nav [class*=owl-], .blank-carousel.image_carousel .owl-controls .owl-nav [class*=owl-]{color:#CBD1D0;margin:5px;padding:4px 24px;display:inline-block;cursor:pointer;font-size:40px;font-family:Courier, "Courier New", monospace;line-height:30px;}
.img_carous{margin-bottom:25px;}
.block_keis{background-color:#f4fbfa;}
.for_marg{margin:0 auto;}
.padding-section.gallery_element{padding-left:20px;}
.padding-section.gallery_element .breadcrumbs{margin-left:10px;}
.padding-section.gallery_element .content-inner.margin{width:90%;margin-bottom:20px;}
.for_pad{padding:0!important;}
.sliderImages.side.hidden-xs.owl-carousel.owl-theme.owl-loaded.owl-text-select-on .owl-controls .owl-dots{margin-top:10px;}
.link_style{font-size:14px;margin:10px;text-decoration:none;display:block;text-align:center;height:30px;}
.img_sl a{text-decoration:none;}
section.work{background-color:#f5f5f5;}
section.calculator > *{position:relative;z-index:1;}
/*section.calculator::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.2);}*/
.calculator .container{text-align:center;}
.calculator h2{color:#fff;font-size:30px;margin-bottom:30px;}
.calculator h2.mobile{display:none;}
section.calculator .container > label{font-size:16px;line-height:40px;color:#fff;font-weight:normal;padding-left:30px;padding-right:30px;border-radius:22px;border:2px solid transparent;margin-bottom:40px;min-width: auto;}
.calculator #calculator:checked + label,.calculator #prices:checked + label{border-color:#fff;}
.calculator .calc-block-sofa,.calculator .table.table-responsive{width:750px;max-width:100%;margin-left:auto;margin-right:auto;}
.calculator .calc-block-sofa,.calculator .table.table-responsive{display:none;}
.calculator #calculator:checked ~ .calc-block-sofa,.calculator #prices:checked ~ .table.table-responsive{display:block;}
.calculator .sales{border-top:1px solid #c9c9c9;}
.calculator .sales div{display:inline-block;width:33%;padding:30px 25px;}
.calculator .sales div:nth-child(-n+2){border-right:1px solid #c9c9c9;}
.calculator .sales div span:first-of-type{display:block;font-size:28px;color:#27b0a7;margin-bottom:15px;}
.quality .container > p{max-width:580px;margin-bottom:60px;}
.quality .container > span{font-size:24px;display:block;margin-bottom:45px;}
.quality .item{width:260px;float:left;margin-bottom:60px;}
.quality .item span{display:inline-block;font-size:50px;font-weight:bold;color:#e3e3e2;margin-bottom:25px;position:relative;}
.quality .item span::before{position:absolute;top:0;left:30px;font-size:24px;font-weight:initial;color:initial;white-space:nowrap;}
.quality .item:first-of-type span::before{content:'Условие №1';}
.quality .item:nth-of-type(2) span::before{content:'Условие №2';}
.quality .item p{color:#828282;}
.quality .button{clear:both;margin-left:0}
@media (max-width:768px){
    p.main_desc {width: 95vw}
    section{padding-top:30px;padding-bottom:30px;}
    .reviews h2{margin-bottom:25px;}
    .block_item{width:44.3333%;}
    .container.form h1 + p::after {display:none}
    .back{box-shadow: 0 -5px 25px 0 #080a0e}
    #element1{padding: 5px 0}
    .container.form {padding-top:30px}
    .container.form h1{font-size:23px;font-weight:bold;position: relative;z-index: 1;}
    .container.form h1 + p{font-size: 17px;line-height:25px;position: relative;z-index: 1;}
    .form .order {position: relative;z-index: 1;}
    .form .order b{font-size:23px!important;}
    section.main{background-size: 200% auto;position:relative;}
    section.main::after{content:'';width:100%;height:50%;background-image:linear-gradient(transparent, #fff);position: absolute;top: 0;left: 0;}
    section.resume{text-align:left;}
    .resume p{margin-bottom:40px;}
    .resume strong{font-size:18px;}
    .before-after{font-size:20px;}
    .work .owl-carousel{height:123px}
    .work .owl-nav > *{width:37px;height:37px;}
    .work .owl-nav svg{height:14px;}
    section.calculator{background-image:none;color:#4b4b4b;}
    section.calculator .container{text-align:center;}
    section.calculator::after{display:none;}
    .calculator .sales div{display:block;width:80%;margin-left:auto;margin-right:auto;}
    .calculator .sales div:nth-child(-n+2){border-bottom:1px solid #c9c9c9;border-right:0;}
    .calculator .table.table-responsive{border:0;}
    section.calculator .container > label{color:inherit;}
    .calculator #calculator:checked + label,.calculator #prices:checked + label{border-color:#4b4b4b;}
    .calculator h2:first-of-type{display:none;}
    .calculator h2.mobile{line-height:24px;display:block;color:inherit;}
    .reasons{text-align:left;padding-top:0;padding-bottom:20px;}
    .reasons h2{font-size:18px;font-weight:bold;margin-bottom:25px;}
    .reasons li{width:100%;height:auto;padding:20px 0 25px 70px;border:0!important;border-top:1px solid #e4e4e4!important;}
    .reasons li::before{top:20px;left:0;}
    section.quality{background-image:none;padding-bottom:20px;}
    .quality h2{margin-bottom:20px;}
    .quality .item{width:100%;}
    .quality .item:last-of-type{margin-bottom:10px;}
    .quality .container > p{margin-bottom:25px;}
    .quality .button{width:100%;}
    .quality img{display:block;margin-right:auto;margin-bottom:20px;margin-left:auto;}
}
@media (max-width:1025px) and (min-width:767px){
    p.main_desc{font-size: 1.2em;width: 80%; z-index: 1;}
    h1{z-index:1;color: #000000;font-size:1.2em;}
    section.main{background-size: 200% auto;position:relative;}
    section.main::after{content:'';width:100%;height:50%;background-image:linear-gradient(transparent, #fff);position: absolute;top: 0;left: 0;}
    section.resume{text-align:left;}
}