<!doctype html>
<html>
<head>
<!--  <base href="https://www.brilliantgroup.ru/">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="cmsmagazine" content="ef654fe387fc2d317cd57bc0e104956d">
  <meta name="yandex-verification" content="d038ec29eb261ccc">
  <meta name="google-site-verification" content="bPAfHxXaAV7BUSksBPLNyeAOeABQliKpOYm_clcDipA">
  <meta name="description" content="Химчистка диванов и мягкой мебели от 2000 рублей с гарантией качества! Скидки за объем работ. Калькулятор химчистки. Выездная чистка диванов работает 7 дней в неделю, звоните!">
  <title>Химчистка диванов на дому в СПб - выездная чистка диванов | BG</title>
  <link rel="canonical" href="https://www.brilliantgroup.ru/">
  <link rel="icon" type="image/ico" href="https://www.brilliantgroup.ru/favicon.ico">
  <link rel="stylesheet" href="https://www.brilliantgroup.ru/assets/app-new/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.brilliantgroup.ru/assets/app-new/css/new-style-main.css">
  <link rel="amphtml" href="https://www.brilliantgroup.ru/?amp">
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "style-main" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
  <div class="call_me">
    <a href="tel:78129814711">8 (812) 981-47-11</a>
  </div>
    <header>
      <div class="mint-fon">
        <div class="container">
          <div class="row" id="js-header"><div class="col-lg-2 col-md-2 col-sm-3 hidden-xs"><div class="sprite-clock"></div><span>круглосуточно</span><br><span>без выходных</span>    </div><div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><div class="sprite-phone"></div><span class="ph-head"><a href="tel:78129814711">8 (812) 981-47-11</a></span>    </div><div class="col-lg-3 col-md-3 hidden-sm hidden-xs"><div class="sprite-mail"></div><span class="ph-head"><a href="mailto:briliant-group@mail.ru">briliant-group@mail.ru</a></span></div><div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><div class="sprite-director"></div><span class="ph-head"><a href="#director" data-toggle="modal">Связаться с директором</a></span></div><div class="col-lg-2 col-md-2  col-sm-2  hidden-xs img-head"><a href="//www.instagram.com/cleaning_bg_spb/" target="_blank" rel="nofollow"><img src="http://brilliantgroup.ru/assets/app-new/img/instagram.png" alt="inst"></a><a href="//vk.com/brilliantgroup" target="_blank" rel="nofollow"><img src="https://www.brilliantgroup.ru/assets/app-new/img/vkontakte.png" alt="vk"></a></div></div>
          <script type="text/javascript">
              //forMobileFirst
              const cap = document.getElementById('js-header');
              if (screen.width > 955 && document.body.clientWidth > 955) {
                  cap.innerHTML = '<div class="col-lg-2 col-md-2 col-sm-3 hidden-xs"><div class="sprite-clock"></div><span>круглосуточно</span><br><span>без выходных</span>    </div><div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><div class="sprite-phone"></div><span class="ph-head"><a href="tel:78129814711">8 (812) 981-47-11</a></span>    </div><div class="col-lg-3 col-md-3 hidden-sm hidden-xs"><div class="sprite-mail"></div><span class="ph-head"><a href="mailto:briliant-group@mail.ru">briliant-group@mail.ru</a></span></div><div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><div class="sprite-director"></div><span class="ph-head"><a href="#director" data-toggle="modal">Связаться с директором</a></span></div><div class="col-lg-2 col-md-2  col-sm-2  hidden-xs img-head"><a href="//www.instagram.com/cleaning_bg_spb/" target="_blank" rel="nofollow"><img src="http://brilliantgroup.ru/assets/app-new/img/instagram.png" alt="inst"></a><a href="//vk.com/brilliantgroup" target="_blank" rel="nofollow"><img src="https://www.brilliantgroup.ru/assets/app-new/img/vkontakte.png" alt="vk"></a></div>';
              }
          </script>
        </div>
      </div>
      <div class="main-menu">
        <div class="container">
          <div class="cd-logo hidden-xs">
            <a href="/">
              <img src="https://www.brilliantgroup.ru/assets/app-new/img/logo.png" alt="Астра">
            </a>
          </div>
          <nav class="navbar header_m">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <div class="cd-logo hidden-lg hidden-md hidden-sm">
                <a href="/">
                  <img src="https://www.brilliantgroup.ru/assets/app-new/img/logo.png" alt="Астра">
                </a>
              </div>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav ib"><li> <a href="o-kompanii/">О компании</a></li><li> <a href="uslugi/">Услуги</a></li><li> <a href="ceny/">Цены</a></li><li> <a href="otzyvy/">Отзывы</a></li><li> <a href="fotogalereya/">Наши работы</a></li><li> <a href="blog/">Блог</a></li><li> <a href="kontakty/">Контакты</a></li></ul>

            </div>
          </nav>
        </div>
      </div>
    </header>
  <!-- КОНТЕНТ -->
    <%= yield %>
  </body>
</html>
