section.welcome
  .container
    .col-sm-7.col-md-7
      h1 Клинингова компания <br> "Бриллиант-Групп"
      p Химчистка и уборка - основная сфера деятельности Brillant-Group. <br>
        С 2008 года наша клининговая компания начала свою работу в СПБ. <br>
        За годы мы обрели уникальный опыт работы, собрали команду профессиональных клинеров и завоевали доверие и репутацию клиентов.
      .icons
        .icon
          img[src='assets/images/morda/icons/ok.webp' alt='icon']
          span +10 лет на рынке
        .icon
          img[src='assets/images/morda/icons/cleaner.webp' alt='icon']
          span 112 сотрудников
        .icon
          img[src='assets/images/morda/icons/hand.webp' alt='icon']
          span 6986 клиентов
section.popular_service
  .content.container
    h2 Популярные услуги
    .services_wrap
      .service_block
        h4 Химчистка мебели
        a[href="#" class='order' role='Кнопка заказа услуги'] Заказать
        a[href="ximchistka-divana-na-domu/" class='more_info'] Подробнее
      .service_block
        h4 Уборка квартир
        a[href="#" data-target="#myModal2" data-toggle="modal" class='order' role='Кнопка заказа услуги'] Заказать
        a[href="uborka-kvartir/" class='more_info'] Подробнее
      .service_block
        h4 Уборка офисов
        a[href="#" data-target="#myModal2" data-toggle="modal" class='order' role='Кнопка заказа услуги'] Заказать
        a[href="uborka-ofisov/" class='more_info'] Подробнее
      .service_block
        h4 Химчистка ковров
        a[href="#" data-target="#myModal2" data-toggle="modal" class='order' role='Кнопка заказа услуги'] Заказать
        a[href="ximchistka-kovrov/" class='more_info'] Подробнее
      .service_block
        h4 Уборка после ремонта
        a[href="#" data-target="#myModal2" data-toggle="modal" class='order' role='Кнопка заказа услуги'] Заказать
        a[href="uborka-posle-remonta/" class='more_info'] Подробнее
      .service_block
        h4 Мойка окон и фасадов
        a[href="#"  data-target="#myModal2" data-toggle="modal" class='order' role='Кнопка заказа услуги'] Заказать
        a[href="mojka-okon-i-fasadov/" class='more_info'] Подробнее
    a[href="uslugi/"] Все услуги ->
    .description
      p Кемпинг перестал быть услугой для фирм в коммерческих или офисных помещениях. Всё чаще услуги клининговой компании востребованны частными лицами, ведь жизнь в таком мегаполисе как Санкт-Петербург заставляет всех ценить время и качество жизни.
      p Мы предоставляем широчайший спектр услуг, наиболее востребованными среди которых: профессиональная уборка квартир и коттеджей, химчистка мебели и ковров на дому, клининг офисных и коммерческих помещений, а также уборку после пожара или после ремонта.

section.why_us
  h2.right Работать с нами легко и просто <br> Основные причины заказать уборку у нас
  .content
    h2 Почему мы?
    .why_us__wrap
      .why_us__wrap__block
        img[src="assets/images/morda/icons/car_w.png" alt='icon']
        p Бесплатный выезд
      .why_us__wrap__block.white
        img[src="assets/images/morda/icons/bottle_g.png" alt='icon']
        p Использование моющих и чистящих средств, не вредящих здоровью и не вызывающих аллергию
      .why_us__wrap__block
        img[src="assets/images/morda/icons/head_w.png" alt='icon']
        p Профессионализм
      .why_us__wrap__block
        img[src="assets/images/morda/icons/hoover_w.png" alt='icon']
        p Гарантия качества
      .why_us__wrap__block
        img[src="assets/images/morda/icons/blank_w.png" alt='icon']
        p Страхование и ответственность
      .why_us__wrap__block
        img[src="assets/images/morda/icons/basket_w.png" alt='icon']
        p Максимальные усилия

section.calculator
  h2 Калькулятор стоимости наших услуг
  .container
    input#calculator checked="" hidden="" name="calculator" type="radio" /
    label for="calculator"  Калькулятор
    input#prices hidden="" name="calculator" type="radio" /
    label for="prices"  Цены
    h2.mobile Рассчитайте стоимость химчистки дивана
    .calc-block-sofa
      p.title Рассчитайте стоимость химчистки дивана
      .clearfix
        /! Nav tabs
        ul.nav.nav-tabs.soft role="tablist"
          li.active role="presentation"
            a aria-controls="sofa" data-toggle="tab" href="#sofa" role="tab"
              span.i.icon-i_sofa
              | Прямой диван
          li role="presentation"
            a aria-controls="corner-sofa" data-toggle="tab" href="#corner-sofa" role="tab"
              span.i.icon-i_kitchensofa
              | Угловой диван
          li role="presentation"
            a aria-controls="kitchen-sofa" data-toggle="tab" href="#kitchen-sofa" role="tab"
              span.i.icon-i_cornersofa
              | Кухонный уголок
        /! Tab panes
        .tab-content.wrap
          #sofa.tab-pane.active role="tabpanel"
            form
              .form-group.col-md-12
                p.p-f Количество посадочных мест:
                label
                  span.icon-sofa_2.part
                  input checked="" data-koja=("от 1400 до 1800") data-rk=("от 2000 до 2400") data-rt=("от 1800 до 2200") data-tkan=("от 1200 до 1600") name="price" type="radio" /
                  | 2-х местный
                label
                  span.icon-sofa_3.part
                  input data-koja=("от 1600 до 2000") data-rk=("от 2200 до 2600") data-rt=("от 2000 до 2400") data-tkan=("от 1400 до 1800") name="price" type="radio" /
                  | 3-х местный
                label
                  span.icon-sofa_4.part
                  input data-koja=("от 2000 до 2400") data-rk=("от 2600 до 3000") data-rt=("от 2400 до 3000") data-tkan=("от 1800 до 2200") name="price" type="radio" /
                  | 4-х местный
            form
              .form-group.col-md-12
                p.p-f Выберите обивку:
                label
                  input checked="" data-obiv="koja" name="obiv" type="radio" /
                  | Кожа
                label
                  input data-obiv="tkan" name="obiv" type="radio" /
                  | Ткань
            form
              .form-group.col-md-12
                p.p-f Выберите тип:
                label
                  input checked="" data-type="1" name="type" type="radio" /
                  | Раскладной
                label
                  input data-type="0" name="type" type="radio" /
                  | Не раскладной
            .form-group.col-md-12
              input.button name="sofa" type="button" value="РАССЧИТАТЬ" /
            .result-block.col-md-12
              p.result
                | Итого:
                span.price от 2400 до 3000 руб.
                span.sub *
              p.added
                span.sub> *
                | Данные расчеты предназначены для ознакомления и не являются конечной суммой,
                | которая может отличаться как в меньшую, так и в большую сторону.Точная
                | стоимость определяется на месте.
          #corner-sofa.tab-pane role="tabpanel"
            form#ugol.ugol onsubmit="Ugol(this, event)"
              .form-group.col-md-12
                label.p-f[for="place"]  Количество посадочных мест:
                input#kol-mest onkeyup="checkCount(this, event)" type="text" /
              .form-group.col-md-12
                p.p-f Выберите обивку:
                label
                  input checked="" data-obiv="koja" name="obiv" type="radio" /
                  | Кожа
                label
                  input data-obiv="tkan" name="obiv" type="radio" /
                  | Ткань
              .form-group.col-md-12
                p.p-f Выберите тип:
                label
                  input checked="" data-type="1" name="type" type="radio" /
                  | Раскладной
                label
                  input data-type="0" name="type" type="radio" /
                  | Не раскладной
            .form-group.col-md-12
              input.button form="ugol" name="ugol" type="submit" value="РАССЧИТАТЬ" /
            .result-block.col-md-12
              p.result
                | Итого:
                span.price от 2400 до 3000 руб.
                span.sub *
              p.added
                span.sub> *
                | Данные расчеты предназначены для ознакомления и не являются конечной суммой,
                | которая может отличаться как в меньшую, так и в большую сторону.Точная стоимость
                | определяется на месте.
          #kitchen-sofa.tab-pane role="tabpanel"
            form#kuhon.kuhon onsubmit="calcKuhon(this, event)"
              .form-group.col-md-12
                p.p-f Выберите обивку:
                label
                  input data-obiv="koja" name="obiv" type="radio" /
                  | Кожа
                label
                  input data-obiv="tkan" name="obiv" type="radio" /
                  | Ткань
            .form-group.col-md-12
              input.button form="kuhon" name="kuhon" type="submit" value="РАССЧИТАТЬ" /
            .result-block.col-md-12
              p.result
                | Итого:
                span.price от 2400 до 3000 руб.
                span.sub *
              p.added
                span.sub> *
                | Данные расчеты предназначены для ознакомления и не являются конечной суммой,
                | которая может отличаться как в меньшую, так и в большую сторону.Точная стоимость
                | определяется на месте.
      .sales
        div
          span 5% скидка
          span При заказе на сумму более 3&nbsp;000&nbsp;руб.
        div
          span 10% скидка
          span При заказе на сумму более 5&nbsp;000&nbsp;руб.
        div
          span 15% скидка
          span При заказе на сумму от 10&nbsp;000&nbsp;руб.
    .table.table-responsive
      table cellpadding="0" cellspacing="1"
        tbody
          tr
            td title="jcsdhcs" width="19"
              p align="center"  №
            td title="j2cs"
              p align="center"
                b Услуга
            td
              p align="center"  Размер
            td
              p align="center"  Цена руб.
          tr
            td width="19"
              p align="center"
                b 1.
            td width="198"
              p align="center"  Химчистка мягкой мебели*
            td width="100"
              p align="center"  2-х местн.
            td width="172"
              p align="center"  700-1000
          tr
            td width="19"  &nbsp;
            td width="198"  &nbsp;
            td width="100"
              p align="center"  3-х местн.
            td width="172"
              p align="center"  1000-1500
          tr
            td width="19"  &nbsp;
            td width="198"  &nbsp;
            td width="100"
              p align="center"  угловой
            td width="172"
              p align="center"  1500-2000
          tr
            td width="19"  &nbsp;
            td width="198"  &nbsp;
            td width="88"
              p align="center"  кух. уголок
            td width="172"
              p align="center"  500-1000
          tr
            td width="19"  &nbsp;
            td width="198"  &nbsp;
            td width="88"
              p align="center"  кресло
            td width="172"
              p align="center"  400-700
          tr
            td width="19"
              p align="center"
                b 2.
            td width="198"
              p align="center"  Химчистка стульев
            td width="88"
              p align="center"  без спинки
            td width="172"
              p align="center"  100-200
          tr
            td width="19"  &nbsp;
            td width="198"  &nbsp;
            td width="88"
              p align="center"  со спинкой
            td width="172"
              p align="center"  200-300
          tr
            td width="19"
              p align="center"
                b 3.
            td width="198"
              p align="center"  Чистка спального места (сухая)
            td width="88"
              p align="center"  1 спальн. (2 стороны)
            td width="172"
              p align="center"  500
          tr
            td width="19"  &nbsp;
            td width="198"  &nbsp;
            td width="88"
              p align="center"  2 спальн. (2 стороны)
            td width="172"
              p align="center"  800
          tr
            td width="19"
              p align="center"
                b 4.
            td width="198"
              p align="center"  Химчистка спального места
            td width="88"
              p align="center"  1 спальн
            td width="172"
              p align="center"  1000
          tr
            td width="19"  &nbsp;
            td width="198"  &nbsp;
            td width="88"
              p align="center"  2 спальн
            td width="172"
              p align="center"  1600
          tr
            td width="19"
              p align="center"
                b 5.
            td width="198"
              p align="center"
                a href="//www.brilliantgroup.ru/chistka-kozhanoi-miebieli/" > Чистка кожанной мебели
                | *
            td width="88"
              p align="center"  2-х местн.
            td width="172"
              p align="center"  700-1000
          tr
            td width="19"  &nbsp;
            td width="198"  &nbsp;
            td width="88"
              p align="center"  3-х местн.
            td width="172"
              p align="center"  1000-1500
          tr
            td width="19"  &nbsp;
            td width="198"  &nbsp;
            td width="88"
              p align="center"  угловой
            td width="172"
              p align="center"  1500-2000
              div &nbsp

section.how_works
  h2 Как мы работаем?
  .container
    .how_works
      .row
        .col-md-6.col-xs-12
          video[src='assets/video/how_work.mp4' width='100%' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' controls]
        .col-md-6.col-xs-12
          p Обратитесь в компанию Brilliant Group прямо сейчас, и Вы получите профессиональный клининг с учетом ваших пожеланий. Мы производим уборку в Санкт-Петербурге после ремонта или пожара, у нас можно заказать мойку окон и фасадов.
          p Нужна химчистка ковров или мягкой мебели на дому, поддерживающая или генеральная уборка квартиры, офисного или коммерческого помещения? Позвоните нам в любой день недели, наш менеджер согласует с Вами весь объем работ, подходящее время для клининга и рассчитает стоимость.
          p Brilliant Group несет ответственность перед своими клиентами, поэтому с ними заключается договор. В назначенное время на объект приходят специалисты и приступают к заданию. В их арсенале имеется все необходимое оборудование и безопасные чистящие средства, поэтому они сделают уборку быстро и без вреда для людей и животных.
    h2 Наши работы
    .how_works
      .row
        .col-md-6.col-xs-12.content
          .slide1.slide.active
            h4 Химчистка ковров До и После
            p Ни для кого не секрет, что ковер впитывает в себя пыль и бактерии, становясь причиной аллергии и приступов астмы, а пролитые напитки, следы, оставленные животными, уличная грязь и въевшиеся пятна при самостоятельной чистке могут оставить неаккуратные разводы или изменить цвет поверхности, не говоря уже о стойком запахе.
            h5.strong На выручку придет химчистка ковров, паласов иковролинов.
            p В ходе чистки ковра с вывозом будут удалены различные виды пятен, очистятся наиболее загрязненные и затоптанные места, устранятся общие загрядныения, и, что немаловажно, исчезнут даже сильные запахи, в том числе оставшиеся после домащних любимцев.
            p Перед тем как осуществлять чистку ковровых покрытий, спекциалистами будет подобран наиболее эффективный способ для полного устранения загрязнений.
          .slide2.slide
            h4 Химчистка мебели
            p Химчистка мягкой мебели на дому — это важное мероприятие, которое должно осуществляться хотя бы раз в год. Клининговые услуги в Санкт-Петербурге помогают избавить хозяйку от этой сложной работы, а мебель очистить от пыли, пятен, бактерий и клещей. Благодаря химчистке, мягкая мебель сохранит свой привлекательный внешний вид и будет служить хозяевам долгие годы.
            p Качественная химчистка мягкой мебели производится компанией Brilliant Group по новейшим технологиям, с применением как моющих, так сухих средств очистки. Мы используем оборудование и инвентарь, с помощью которых изделия остаются в первозданном виде и не теряют цвет. Правильно организованная работа специалистов компании позволяет привести в порядок любую мебель. Мы произведем глубокую очистку, с которой не справится ни один пылесос!
          .slide3.slide
            h4 Уборка квартир
            p Не хватает времени и сил на поддерживающую или генеральную уборку квартиры? Специалисты Brilliant Group придут на помощь!
            p Мы отмоем вашу квартиру, так что вы ее не узнаете! Удалим пыль со всех поверхностей, произведем чистку ковров и штор, влажную и сухую уборку, а также дезинфекцию санузлов и кухни.  Нам можно смело доверить уборку квартиры в Санкт-Петербурга перед приездом новорожденного, так как мы используем гипоаллергенные средства.
            p Наше оборудование и инвентарь помогут справиться с любым видом загрязнений.  В результате вы получите дом, наполненный свежестью, сверкающий чистотой, без аллергенов и пыли.
          .slide4.slide
            h4 Уборка офисов
            p Офис - визитная карточка любой организации. По этой причине его нужно содержать всегда в порядке. Кроме того, чистое помещение — это еще и здоровье сотрудников. Клининговая компания Brilliant Group избавит вас от хлопот по уборке офисов в Санкт-Петербурге.
            p Быстро и качественно мы произведем ежедневную уборку офисного помещения: уберем пыль и грязь с поверхностей, вымоем пол, очистим зеркала и приведем в порядок все санитарные зоны. Также у нас можно заказать генеральный клининг в любое удобное время, и прерывать рабочий процесс для этого не придется, так как мы работаем даже ночью!
            p  Brilliant Group превратит Ваш офис в уютное место, в котором хочется работать и продвигать новые идеи!

        .col-md-6.col-xs-12
          #how_work_carousel.carousel.slide[data-ride='carousel']
            ol.carousel-indicators
              li.active data-slide-to="0" data-target="#carousel-example-generic"
              li data-slide-to="1" data-target="#carousel-example-generic"
              li data-slide-to="2" data-target="#carousel-example-generic"
            .carousel-inner[role="listbox"]

              .item.active.left
                img[src="https://www.brilliantgroup.ru/assets/images/kover_our_works/1.jpg" alt="Фото работы до и после"]
              .item
                img[src="https://www.brilliantgroup.ru/assets/images/chair.webp" alt="Фото работы до и после"]
              .item
                img[src="https://www.brilliantgroup.ru/assets/images/step/aportament_1.jpg" alt="Фото работы до и после"]
              .item
                img[src="assets/images/" alt="Фото работы до и после"]

            a.left.carousel-control data-slide="prev" href="#how_work_carousel" role="button"
              span.icon-prev aria-hidden="true"
              span.sr-only Previous
            a.right.carousel-control data-slide="next" href="#how_work_carousel" role="button"
              span.icon-next aria-hidden="true"
              span.sr-only Next


.promotion-fon
  .container
    .col-md-offset-1.col-md-2
      img alt=("promotion BrilliantGroup") height="138px" src="assets/app/images/promotion.png" width="137px" /
    p.promotion-text.col-md-6
      span Следите за нашими акциями!
      br
      | У нас постоянно проходят акции
    a.btn-link.col-md-offset-1.col-md-2 href="akciya-dlya-klientov/"  Подробнее

.reviews_box
  .container
    h2 Видеоотзывы
    .reviews_box_slider.three.owl-carousel
      div onclick="youtube(0);" style=("cursor: pointer; margin-right:5px; height:230px; background: url(/assets/images/1.jpg) no-repeat center / 100% auto;")
      div onclick="youtube(1);" style=("cursor: pointer; margin-right:5px; height:230px; background: url(/assets/images/2.jpg) no-repeat center / 100% auto;")
      div onclick="youtube(2);" style=("cursor: pointer; margin-right:5px; height:230px; background: url(/assets/images/3.jpg) no-repeat center / 100% auto;")
      div onclick="youtube(3);" style=("cursor: pointer; margin-right:5px; height:230px; background: url(/assets/images/4.jpg) no-repeat center / 100% auto;")
section.reviews
  h2 Отзывы наших клиентов
  .item.clearfix
    img.avatar alt="avatar" src="/assets/app-new/img/user1.jpg" /
    div
      span.name Настя Елова
      p У меня огромный светлый диван, который облюбовал хаски для трапез. спасибо огромное!! Идеально. Быстро и недорого!!
      span.date 30 апр. 2018
  .item.clearfix
    img.avatar alt="avatar" src="/assets/app-new/img/user2.jpg" /
    div
      span.name Александр Кириллов
      p чисто и аккуратно. сильно загаженную квартиру. были Елена и Александр. спасибо
      span.date 4 апр. 2018
  a.button href="[[~6]]"  Смотреть все отзывы
section.quality
  .container
    h2 Гарантируем качество чистки дивана!
    p Компания Brilliant Group беспокоится о каждом клиенте и гарантирует качество предоставляемых услуг. Если вы не довольны проведенной чисткой дивана, мы найдем решение недоразумения без дополнительных вложений с вашей стороны.
    span Условия действия гарантии:
    .item
      span 01.
      p Обращение в нашу компанию на протяжении 1 месяца с момента оказания услуги.
    .item
      span 02.
      p Отсутствие попыток очистить мебель самостоятельно или с помощью других специалистов.
    img alt="+" src="/assets/app-new/img/quality.png" /
    p style=("max-width: 540px;")  Мы сделаем вашу мягкую мебель идеально чистой и комфортной!